<div class="container">
  <div class="row vertical-offset-100">
    <div class="col-md-4"></div>
    <div class="col-md-4 col-md-offset-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Please sign in</h3>
        </div>
        <br>
        <div class="panel-body">
          <form accept-charset="UTF-8" (ngSubmit)="submitForm()" [formGroup]="loginForm" role="form">
            <fieldset>
              <div class="form-group">
                <input class="form-control" formControlName="loginId" placeholder="E-mail / Mobile number" (blur)="validateLoginId()" name="email" type="text">
              </div>
              <!-- <div *ngIf="userName.errors?.pattern">
                  User name not valid.
             </div> -->
              <div class="form-group">
                <input class="form-control" (blur)="checkForPassword()" formControlName="password" placeholder="Password" name="password" type="password" value="">
              </div>
              <div *ngIf="showPassError && password.dirty">
                <p class="errorText">
                  Password must contain 1 uppercase, 1 lowercase, 1 number, 1 special character and 8-20 characters. 
                </p>
             </div>
              <!-- <div class="checkbox">
                <label>
                  <input name="remember" type="checkbox" value="Remember Me"> Remember Me
                </label>
              </div> -->
              <br>
              <input class="btn btn-lg btn-success btn-block" type="submit" [disabled]="loginForm.invalid" value="Login">
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<p>Form value: {{ loginForm?.value | json }}</p>
<p>Form status: {{ loginForm?.status | json }}</p>
<p>Username Status: {{this.loginForm.get('loginId').status | json}}</p>
<p>Password Status: {{this.loginForm.get('password').status | json}}</p>